<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	{% if request.user.is_authenticated %}
	<p>logged in as: <span class="text-info">{{request.user}}</span></p>
	<a href="/signout/">Signout</a>
	{% else %}
	<a href="/signin/"> Sign in
	</a>
	<a href="/signup/"> signup</a>
	{% endif %}
	<a href="{% url 'umapp:bloglist' %}">All Blogs</a>
	<hr>

	<form method= "GET" action= "/search/">
		<input type= "text" name= "barshat" placeholder="search here" value= "{{request.GET.barshat}}">
		<button> Search</button>
	</form> 
	{% block content %}
	
	
	
	{% endblock %} 

</body>
</html>