{% extends "base.html" %}

{% block content %}

<h4> Comment Form</h4>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>submit</button>
</form>


{% endblock %}
 