{% extends 'base.html' %}

{% block content %}
<h3>{{blogobject.title}}</h3>
<img src="{{blogobject.image.url}}" width="500">
<p>{{blogobject.context}}</p>
<p>Author: {{blogobject.author}}</p>
<p>Posted on: {{blogobject.created_at}}</p>
<h5>All comments</h5>
{% for comment in blogobject.comment_set.all%}
<li>{{comment.commenter}} says:{{comment.comment}} {{comment.date|timesince}} ago</li>
{% endfor %}
<h4>Comment Here</h4>
<form method="POST" action="{% url 'umapp:blogcomment' blogobject.pk %}">
	{% csrf_token %}
	{{form.as_p}}
	<button>Comment</button>


</form>
{% endblock %}