{% extends 'base.html' %}

{% load static %}

{% block content %}
{% for comment in comments %}
{{comment.commenter}}<br>
{{comment.comment}}<hr>

{% endfor %}

{% if page_obj.has_other_pages %}
<ul class="pagination">
	{% if page_obj.has_previous %}
	<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
	{% else %}
	<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
	{% endif %}
	{% for n in page_obj.paginator.page_range %}
		{% if page_obj.number == n %}
			<li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
		{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
		{% endif %}
	{% endfor %}
	{% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
</ul>
{% endif %}



{% endblock %}