{% extends "base.html" %}

{% block content %}

<h4> Password Change Form</h4>
{% if error %}
<li class="text-danger"> {{error}} </li>
{% endif %}
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button>Change</button>
</form>


{% endblock %}