{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>Search Results</h3><hr>
{% for data in results %}
<li><a href= "{% url 'umapp:blogdetail' data.id %}">{{data.title}}</a></li>
<img src="{{data.image.url}}" width= "200">
{% empty %}
<li>No results found</li>

{% endfor %}



{% if search_results.has_other_pages %}
<ul class="pagination">
	{% if search_results.has_previous %}
	<li class="page-item"><a class="page-link" href="?page={{ search_results.previous_page_number }}&keyword={{request.GET.keyword}}">Previous</a></li>
	{% else %}
	<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
	{% endif %}
	{% for n in search_results.paginator.page_range %}
		{% if search_results.number == n %}
			<li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
		{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ n }}&keyword={{request.GET.keyword}}">{{n}}</a></li>
		{% endif %}
	{% endfor %}
	{% if search_results.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ search_results.next_page_number}}&keyword={{request.GET.keyword}}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}